@model List<Product>
@{
	int pageIndex = (int)ViewData["PageIndex"]!; //object is not null
	int totalPages = (int)ViewData["TotalPages"]!;

	string search = (string)ViewData["Search"]!;

	string column = (string)ViewData["Column"]!;
	string orderBy = (string)ViewData["OrderBy"]!;
}
<h2 class="text-center mb-3">Lista Produktów</h2>

<div class="row mb-5">
	<div class="col">
		<a class="btn btn-primary" asp-controller="Products" asp-action="Create">Nowy produkt</a>
	</div>
	<div class="col"><!-- from bootstrap -->
		<form class="d-flex" role="search">
			<input class="form-control me-2" type="search" name="search" value="@search" placeholder="Szukaj produktu" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nazwa</th>
			<th>Marka</th>
			<th>Kategoria</th>
			<th>Cena</th>
			<th>Obraz podglądowy</th>
			<th>Data utworzenia</th>
			<th>Akcja </th>
		</tr>
	</thead>

	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<td>@product.Id</td>
				<td>@product.Name</td>
				<td>@product.Brand</td>
				<td>@product.Category</td>
				<td>@(product.Price)$</td>
				<td><img src="/products/@product.ImageFileName" width="100" /></td>
				<td>@product.CreatedAt.ToString("MM/dd/yyyy")</td>
				<td style="white-space:nowrap">
					<a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit"
				   asp-route-id="@product.Id">Edit</a>
					<a class="btn btn-danger btn-sm" asp-controller="Products" asp-action="Delete"
				   asp-route-id="@product.Id" onclick="return confirm('Jesteś pewien?')">Delete</a>
				</td>
			</tr>
		}
	</tbody>

</table>

<nav> <!-- Pagination from bootstrap -->
    <ul class="pagination">
        @for(int i = 1; i <= totalPages; i++)
        {
            string active = "";
            if (i == pageIndex) active = "active";
            <li class="page-item @active"><a class="page-link" asp-route-pageIndex="@i"
                asp-route-search="@search" asp-route-column="@column" asp-route-orderBy="@orderBy">@i</a></li>
        }
    </ul>
</nav>